@mixin btn($bg-color) {
  @if (
    $bg-color !=
      $white and
      $bg-color !=
      $darkwhite and
      $bg-color !=
      $yellow and
      $bg-color !=
      $lightyellow and
      $bg-color !=
      $darkyellow
  ) {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: $padding-light;
    background-color: $bg-color;
    &:hover {
        filter: contrast(80%);
      color: white;
    }
  } @else {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: $padding-light;
    background-color: $bg-color;
    &:hover {
        filter: contrast((80%));
      color: black;
    }
  }
}

$count: 0;

@each $key, $val in $colors {
  @if (
    $val !=
      $white and
      $val !=
      $darkwhite and
      $val !=
      $yellow and
      $val !=
      $lightyellow and
      $val !=
      $darkyellow
  ) {
    @each $br, $rad in $border-radius {
      @each $pad, $space in $padding {
        .btn-#{$key}-#{$br}-#{$pad} {
          @include btn($val);
          border-radius: $rad;
          padding: $space;
          color: white;
        }
      }
    }
  } @else {
    @each $br, $rad in $border-radius {
      @each $pad, $space in $padding {
        .btn-#{$key}-#{$br}-#{$pad} {
          @include btn($val);
          border-radius: $rad;
          padding: $space;
          color: black;
        }
      }
    }
  }
}
