@mixin btn($bg-color) {
  @if (
    $bg-color !=
      $white and
      $bg-color !=
      $darkwhite and
      $bg-color !=
      $yellow and
      $bg-color !=
      $lightyellow and
      $bg-color !=
      $darkyellow
  ) {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: $padding-light;
    background-color: $bg-color;
    &:hover {
      filter: contrast(80%);
      color: white;
    }
  } @else {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: $padding-light;
    background-color: $bg-color;
    &:hover {
      filter: contrast((80%));
      color: black;
    }
  }
}

$button-width: (
  "light": "70px",
  "medium": "95px",
  "heavy": "110px",
);

$button-height: (
  "light": "50px",
  "medium": "65px",
  "heavy": "80px",
);

@each $key, $val in $colors {
  @each $width, $w in $button-width {
    @each $height, $h in $button-height {
      @if (
        $val !=
          $white and
          $val !=
          $darkwhite and
          $val !=
          $yellow and
          $val !=
          $lightyellow and
          $val !=
          $darkyellow and
          $width ==
          $height
      ) {
        @each $br, $rad in $border-radius {
          @each $pad, $space in $padding {
            .btn-#{$width}-#{$key}-#{$br}-#{$pad} {
              @include btn($val);
              border-radius: $rad;
              padding: $space;
              width: $w;
              height: $h;
              color: white;
            }
          }
        }
      } @else if ($width == $height) {
        @each $br, $rad in $border-radius {
          @each $pad, $space in $padding {
            .btn-#{$width}-#{$key}-#{$br}-#{$pad} {
              @include btn($val);
              border-radius: $rad;
              width: $w;
              height: $h;
              padding: $space;
              color: black;
            }
          }
        }
      }
    }
  }
}
