@mixin btn($bg-color) {
  @if (
    $bg-color !=
      $white and
      $bg-color !=
      $darkwhite and
      $bg-color !=
      $yellow and
      $bg-color !=
      $lightyellow and
      $bg-color !=
      $darkyellow
  ) {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background-color: $bg-color;
    &:hover {
      filter: contrast(80%);
      color: white;
    }
  } @else {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background-color: $bg-color;
    &:hover {
      filter: contrast((80%));
      color: black;
    }
  }
}

$button-width: (
  "l": "70px",
  "m": "95px",
  "h": "110px",
);

$button-height: (
  "l": "50px",
  "m": "65px",
  "h": "80px",
);

@each $key, $val in $colors {
  @each $bc, $color in $colors {
    @each $width, $w in $button-width {
      @each $height, $h in $button-height {
        @each $br, $rad in $border-radius {
          @each $bt, $thick in $border-thick {
            @each $pad, $space in $padding {
              @if ($width == $height) {
                .btn-#{$width}-#{$key}-#{$bc}-#{$br}-#{$bt}-#{$pad} {
                  @include btn($val);
                  border-radius: $rad;
                  padding: $space;
                  width: $w;
                  height: $h;
                  border: $bt solid $color;
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }
}
