

.font-purple {
  color: purple;
}

.font-white {
  color: white;
}

.font-yellow {
  color: yellow;
}

.font-black {
  color: black;
}

.font-red {
  color: red;
}

.font-blue {
  color: blue;
}

.font-green {
  color: green;
}

.font-orange {
  color: orange;
}

.font-orange-red {
  color: orangered;
}

.font-yellow-orange {
  color: #ffae42;
}

.font-orange-yellow {
  color: #f8d568;
}

.font-blue-green {
  color: #0d98ba;
}

.font-green-blue {
  color: #1164b4;
}

.font-violet-blue {
  color: #324ab2;
}

.font-red-purple {
  color: #953553;
}

.font-purple-red {
  color: #990147;
}

.font-green-yellow {
  color: greenyellow;
}

.font-yellow-green {
  color: yellowgreen;
}

.font-blue-violet {
  color: blueviolet;
}

.font-sea-green {
  color: seagreen;
}

.font-violet {
  color: violet;
}

.border-red {
  border-color: red;
}

.border-orange {
  border-color: orange;
}

.border-black {
  border-color: black;
}

.border-white {
  border-color: white;
}

.border-green {
  border-color: green;
}

.border-yellow {
  border-color: yellow;
}

.border-blue {
  border-color: blue;
}

.border-purple {
  border-color: purple;
}

.border-orange-red {
  border-color: orangered;
}

.border-yellow-orange {
  border-color: #ffae42;
}

.border-orange-yellow {
  border-color: #f8d568;
}

.border-blue-green {
  border-color: #0d98ba;
}

.border-green-blue {
  border-color: #1164b4;
}

.border-violet-blue {
  border-color: #324ab2;
}

.border-red-purple {
  border-color: #953553;
}

.border-purple-red {
  border-color: #990147;
}

.border-green-yellow {
  border-color: greenyellow;
}

.border-yellow-green {
  border-color: yellowgreen;
}

.border-blue-violet {
  border-color: blueviolet;
}

.border-sea-green {
  border-color: seagreen;
}

.border-violet {
  border-color: violet;
}
